#所属集群名字
brokerClusterName={{ rocketmq_brokerClusterName }}
#broker名字，注意此处不同的配置文件填写的不一样
brokerName={{ rocketmq_brokerName }}
#0 表示 Master，>0 表示 Slave
brokerId={{ rocketmq_brokerId | default('0')}}
#nameServer地址，分号分割
namesrvAddr={{ rocketmq_namesrvAddr }}
#在发送消息时，自动创建服务器不存在的topic，默认创建的队列数
defaultTopicQueueNums={{ rocketmq_defaultTopicQueueNums }}
#是否允许 Broker 自动创建Topic，建议线下开启，线上关闭
autoCreateTopicEnable={{ rocketmq_autoCreateTopicEnable }}
#是否允许 Broker 自动创建订阅组，建议线下开启，线上关闭
autoCreateSubscriptionGroup={{ rocketmq_autoCreateSubscriptionGroup }}
#Broker 对外服务的监听端口，10911为默认值
listenPort={{ rocketmq_listenPort | default('10911')}}
#表示Master监听Slave请求的端口,默认为服务端口+1
haListenPort={{ rocketmq_haListenPort | default('10912')}}
#删除文件时间点，默认凌晨 4点
deleteWhen={{ rocketmq_deleteWhen | default('04')}}
#文件保留时间，默认 48 小时
fileReservedTime={{ rocketmq_fileReservedTime | default('120')}}
#commitLog每个文件的大小默认1G
mapedFileSizeCommitLog={{ rocketmq_mapedFileSizeCommitLog }}
#ConsumeQueue每个文件默认存30W条，根据业务情况调整
mapedFileSizeConsumeQueue={{ rocketmq_mapedFileSizeConsumeQueue }}
#destroyMapedFileIntervalForcibly=120000
#redeleteHangedFileInterval=120000
#检测物理文件磁盘空间
diskMaxUsedSpaceRatio={{ rocketmq_diskMaxUsedSpaceRatio }}
#存储路径
storePathRootDir={{ rocketmq_storePathRootDir }}
#commitLog 存储路径
storePathCommitLog={{ rocketmq_storePathCommitLog }}
#消费队列存储路径存储路径
storePathConsumeQueue={{ rocketmq_storePathConsumeQueue }}
#消息索引存储路径
storePathIndex={{ rocketmq_storePathIndex }}
#checkpoint 文件存储路径
storeCheckpoint={{ rocketmq_storeCheckpoint }}
#abort 文件存储路径
abortFile={{ rocketmq_abortFile }}
#限制的消息大小
maxMessageSize={{ rocketmq_maxMessageSize }}
#flushCommitLogLeastPages=4
#flushConsumeQueueLeastPages=2
#flushCommitLogThoroughInterval=10000
#flushConsumeQueueThoroughInterval=60000
#Broker 的角色
#- ASYNC_MASTER  异步复制Master
#- SYNC_MASTER  同步双写Master
#- SLAVE
brokerRole={{ rocketmq_brokerRole }}
#刷盘方式
#- ASYNC_FLUSH  异步刷盘
#- SYNC_FLUSH  同步刷盘
flushDiskType={{ rocketmq_flushDiskType }}
#checkTransactionMessageEnable=false
#发消息线程池数量
#sendMessageThreadPoolNums=128
#拉消息线程池数量
#pullMessageThreadPoolNums=128
