#!/bin/bash
#
# Init file for Apache Kafka
#
# chkconfig: 35 85 15
# description: Apache Kafka is a distributed publish-subscribe messaging system
# processname: kafka
# config: {{ kafka_conf_path }}/server.properties
# pidfile: /var/run/kafka.pid

if [ -f /etc/init.d/functions ]; then
  . /etc/init.d/functions
elif [ -f /etc/rc.d/init.d/functions ] ; then
  . /etc/rc.d/init.d/functions
else
  exit 0
fi

export LOG_DIR="{{ kafka_log_path }}"
export KAFKA_LOG4J_OPTS="-Dlog4j.configuration=file:{{ kafka_home }}/config/log4j.properties"
export KAFKA_HEAP_OPTS="{{ kafka_heap_opts }}"
{% if kafka_jmx_enabled | bool %}
export JMX_PORT={{ kafka_jmx_port }}
{% endif %}

RETVAL=0
KAFKA_USER="{{ kafka_user }}"
SYSCONFIG="/etc/sysconfig/{{ kafka_service_name }}"
KAFKA_BASEDIR="{{ kafka_home }}"
KAFKA_CONF="{{ kafka_conf_path }}/server.properties"
PIDFILE="/var/run/{{ kafka_service_name }}.pid"
LOCKFILE="/var/lock/subsys/{{ kafka_service_name }}"
CONSOLE_OUTPUT_FILE="{{ kafka_log_path }}/kafkaServer.out"

[ -f "$SYSCONFIG" ] && . "$SYSCONFIG"

CMD="$KAFKA_BASEDIR/bin/kafka-run-class.sh -name kafkaServer -loggc kafka.Kafka $KAFKA_CONF > "$CONSOLE_OUTPUT_FILE" 2>&1 < /dev/null & echo \$! > $PIDFILE"

start()
{
  echo -n $"Starting kafka: "
  touch $PIDFILE && chown $KAFKA_USER $PIDFILE
  daemon --user $KAFKA_USER "$CMD"
  RETVAL=$?
  [ $RETVAL -eq 0 ] && touch $LOCKFILE && success || failure
  echo
  return $RETVAL
}

stop()
{
  echo -n $"Stopping kafka: "
  killproc -p $PIDFILE $KAFKA_USER
  RETVAL=$?
  echo
  [ $RETVAL -eq 0 ] && rm -f $LOCKFILE
  return $RETVAL
}

restart () {
  stop
  start
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart|reload|force-reload)
    restart
    ;;
  condrestart)
    [ -f $LOCKFILE ] && restart || :
    ;;
  status)
    status -p $PIDFILE $KAFKA_USER
    RETVAL=$?
    ;;
  *)
    echo "Usage: $0 {start|stop|status|restart|reload|force-reload|condrestart}"
    RETVAL=1
esac

exit $RETVAL
