{{ tengine_log_path }}/*.log {
    daily
    dateext
    missingok
    rotate 100
    compress
    delaycompress
    sharedscripts
    postrotate
        [ ! -f {{ tengine_pid_file }} ] || kill -USR1 `cat {{ tengine_pid_file }}`
    endscript
}
