{{ tengine_access_log }} {
    daily
    dateext
    missingok
    rotate 100
    nocompress
    sharedscripts
    postrotate
        [ ! -f {{ tengine_pidfile }} ] || kill -USR1 `cat {{ tengine_pidfile }}`
    endscript
}
