; author: lework
; Configuration for Airflow webserver and scheduler in Supervisor
[unix_http_server]
file={{ supervisor_run }}/supervisor-{{ supervisor_name }}.sock

[supervisord]
pidfile={{ supervisor_run }}/supervisor-{{ supervisor_name }}.pid
logfile={{ supervisor_log }}/{{ supervisor_name }}/supervisor-{{ supervisor_name }}.log

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://{{ supervisor_run }}/supervisor-{{ supervisor_name }}.sock

{% for p in supervisor_program %}
[program:{{ p.name }}]
command={{ p.command }}
stopsignal=QUIT
stopasgroup=true
killasgroup=true
{% if p.user is defined %}
user={{ p.user }}
{% endif %}
stdout_logfile={{ supervisor_log }}/{{ supervisor_name }}/{{ p.name }}-stdout.log
stderr_logfile={{ supervisor_log }}/{{ supervisor_name }}/{{ p.name }}-stderr.log
{% if p.env is defined %}
environment={{ p.env }}
{% elif env is defined %}
environment={{ env }}
{% endif %}
startretries=3
autostart=true
autorestart=true

{% endfor %}
