
dataDir={{ zookeeper_data_path }}
dataLogDir={{ zookeeper_log_path }}

tickTime={{ zookeeper_tick_time }}
initLimit={{ zookeeper_init_limit }}
syncLimit={{ zookeeper_sync_limit }}

clientPort={{ zookeeper_client_port }}
maxClientCnxns={{ zookeeper_max_client_connections }}

admin.enableServer={{ zookeeper_admin_enable | lower }}

{% if zookeeper_autopurge_purge_interval > 0 %}
autopurge.purgeInterval={{ zookeeper_autopurge_purge_interval }}
autopurge.snapRetainCount={{ zookeeper_autopurge_snap_retain_count }}
{% endif %}

{% for i in zookeeper_hosts %}
server.{{ i.id | d(loop.index) }}={{i.host|d(i)}}:{{i.leader_port | default( zookeeper_connect_port ~ ':' ~ zookeeper_elect_port )}}
{% endfor %}

{{ zookeeper_config_extra | d() }}
