RABBITMQ_NODENAME={{ rabbitmq_nodename }}
RABBITMQ_NODE_IP_ADDRESS={{ rabbitmq_bindip }}
RABBITMQ_NODE_PORT={{ rabbitmq_nodeport }}
RABBITMQ_LOG_BASE={{ rabbitmq_logdir }}
RABBITMQ_MNESIA_BASE={{ rabbitmq_mnesiadir }}