#!/bin/bash
mode=$1 #start or reload or stop
case "${mode}" in
    'start')
      systemctl start {{ rocketmq_console_servicename }}
      ;;

    'stop')
      systemctl stop {{ rocketmq_console_servicename }}
      ;;

    'restart')
      systemctl restart {{ rocketmq_console_servicename }}
      ;;

    'status')
      systemctl status {{ rocketmq_console_servicename }}
      ;;

    *)
      # usage
      basename=`basename "$0"`
      echo "Usage: $basename  {start|stop|restart|status}"
      exit 1
    ;;
esac
