{{ openresty_logpath }}/*.log {
    daily
    dateext
    missingok
    rotate 30
    compress
    sharedscripts
    postrotate
        [ ! -f {{ openresty_pidfile }} ] || kill -USR1 `cat {{ openresty_pidfile }}`
    endscript
}
