[Unit]
Description=Disable Transparent Huge Pages (THP)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "echo never > /sys/kernel/mm/transparent_hugepage/enabled && echo never > /sys/kernel/mm/transparent_hugepage/defrag"

[Install]
WantedBy=multi-user.target
